.lesson-detail{
    padding-top:53px;
    img{
        height:167px;
        width:100%;
    }
    p{
        line-height: 34px;
        height:34px;
        text-align: center;
        &:nth-child(2){
            color:#CCC;
        }
        &:nth-child(3){
            color:#F00;
        }
    }
}